.dialogContainer{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:  rgba(0,0,0, 0.50);
    z-index: 999;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    backdrop-filter: blur(4px);
}

.dialogContent{
    background-color: var(--dark-700);
    margin: auto;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    position: relative;
    color: var(--white);

    h2{
      margin-bottom: 16px;
      margin-top: 8px;  
    }
}

.table{
    background-color: var(--dark-900);
    padding: 8px;
    border-radius: 4px;

}

.dialogBack{
    background-color: transparent;
    border: 0;

}

.item{
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    font-size: 16px;
}


.description{
    color: #ccc;
    margin-top: 4px;

}

.buttonOrder{
    background-color: var(--green-900);
    padding: 8px;
    border-radius: 4px;
    border: 0;
    font-weight: bold;
    //color: var(--red-900);

}